/* The styles for the elements */
h1{
    font-family: "Arial Black", Gadget, sans-serif;
}

body {
    font-family: Georgia, serif;
}

input[type="submit"], input[type="reset"] {
    background-color: #0099ff;
    color: #ffffff;
    height: 40px;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Georgia, serif;
    border-radius: 10px;
}

textarea {
    width = 800px;
}
/* The styles for the classes */

/* The styles for the specific elements (by Id) */
#new {
    background-color: #cccccc;
    height: 3em;
    padding: .5em;
}

#footer {
    /*background-color: #cccccc;*/
    height: 50px;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    width: 600px;
    padding: 5px;
}

